.App {
    /*background-color: #242e41;*/
    /*background-color: #607d8b;*/
    color: white;
}

.App > div {
    margin-right: 50px;
}

.active-filter {
    background-color: slategrey;
    color: white;
    font-weight: bold;
}